<head>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
   -->
</head>
  <body style="background-color: #1e1e1e">
    <div class="container-fluid">
      <div class="main">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand" href="#"
              ><img src="assets/images/Netflix logo.png" width="90%" alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item nav-item1">
                  <a class="nav-link" aria-current="page" href="#">English</a>
                </li>
                <li class="nav-item nav-item2">
                  <a class="nav-link" href="javascript:void(0);" routerLink="/login">Sign In</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="main-heading">
          <h1>Enjoy big movies, hit series and more from <br> ₹ 149.</h1>
          <p>Join today. Cancel anytime.</p>
          <p class="memb">
            Ready to watch? Enter your email to create or restart your
            membership.
          </p>
          <form class="main-search" role="search">
            <input
              class="main-search-sub"
              type="search"
              placeholder="Email address"
              aria-label="Search"
            />
            <a href="javascript:void(0);" routerLink="/login">
              <button class="main-btn" type="submit">Get Started ></button>
            </a>
          </form>
        </div>
      </div>

      <div class="partition">
        <div class="partition-heading">
          <h2>Enjoy on your TV.</h2>
          <p>
            Watch on smart TVs, PlayStation, Xbox, <br />
            Apple TV, Blu-ray players and more.
          </p>
        </div>
        <div class="partition-img">
          <img src="assets/images/home/enjoy-tv.png" alt="" />
        </div>
      </div>
      <div class="partition partition2">
        <div class="partition-heading">
          <h2>
            Download your shows to <br />
            watch offline.
          </h2>
          <p>
            Save your favourites easily and always have <br />
            something to watch.
          </p>
        </div>
        <div class="partition-img">
          <img src="assets/images/home/download-shows.jpg" alt="" />
        </div>
      </div>
      <div class="partition partition3">
        <div class="partition-heading">
          <h2>Watch everywhere.</h2>
          <p>
            Stream unlimited movies and Tv shows on <br />
            your phone, tablet, laptop, and TV.
          </p>
        </div>
        <div class="partition-img">
          <img src="assets/images/home/watch-everywhere.png" alt="" />
        </div>
      </div>
      <div class="faq">
        <h1>Frequently Asked Questions</h1>
        
        <p>
          <button class="btn btn-faq" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
            What is Netflix?
        </button>
        </p>
        <div class="collapse" id="collapseExample1">
          <div class="card card-body1">
            Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries and more – on thousands of internet-connected devices.

You can watch as much as you want, whenever you want, without a single ad – all for one low monthly price. There's always something new to discover, and new TV shows and movies are added every week!
          </div>
        </div>

        <p>
          <button class="btn btn-faq" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
            How much does Netflix cost?
          </button>
        </p>
        <div class="collapse" id="collapseExample2">
          <div class="card card-body1">
            Watch Netflix on your smartphone, tablet, Smart TV, laptop, or streaming device, all for one fixed monthly fee. Plans range from ₹ 149 to ₹ 649 a month. No extra costs, no contracts.
          </div>
        </div>
        <p>
          <button class="btn btn-faq" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
            Where can I watch?
          </button>
        </p>
        <div class="collapse" id="collapseExample3">
          <div class="card card-body1">
            Watch anywhere, anytime. Sign in with your Netflix account to watch instantly on the web at netflix.com from your personal computer or on any internet-connected device that offers the Netflix app, including smart TVs, smartphones, tablets, streaming media players and game consoles.
          </div>
        </div>
        <p>
          <button class="btn btn-faq" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
            How do I cancel?
          </button>
        </p>
        <div class="collapse" id="collapseExample4">
          <div class="card card-body1">
            Netflix is flexible. There are no annoying contracts and no commitments. You can easily cancel your account online in two clicks. There are no cancellation fees – start or stop your account anytime.
          </div>
        </div>
        <p>
          <button class="btn btn-faq" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
            What can I watch on Netflix?
          </button>
        </p>
        <div class="collapse" id="collapseExample5">
          <div class="card card-body1">
            Netflix has an extensive library of feature films, documentaries, TV shows, anime, award-winning Netflix originals, and more. Watch as much as you want, anytime you want.
          </div>
        </div>
        <p>
          <button class="btn btn-faq" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
            Is Netflix good for kids?
          </button>
        </p>
        <div class="collapse" id="collapseExample6">
          <div class="card card-body1">
             The Netflix Kids experience is included in your membership to give parents control while kids enjoy family-friendly TV shows and films in their own space.
             Kids profiles come with PIN-protected parental controls that let you restrict the maturity rating of content kids can watch and block specific titles you don’t want kids to see.
          </div>
        </div>
        <p>
          Ready to watch? Enter your email to create or restart your membership.
        </p>
        
      </div>
    </div>
    <div class="foot d-flex justify-content-center">
      <div class="row">
        <p class="rights">Copyright &copy;2023 : Designed by <span class="dev_name fw-bold">Prakash</span><span class="fs-3"> 🎯</span></p><br>
      </div>
      <div class="row">
        <p>follow me on</p>
      </div>
      <div class="i">
        <div class="icon">
          <a href="https://www.instagram.com/itz_not__found/" class="icon-1 mx-1 rounded-5"><i class="fa-brands fa-instagram fw-bold p-2 icon-hover"></i></a>
          <a href="https://www.linkedin.com/in/prakashraj200/" class="icon-2 mx-1 rounded-5"><i class="fa-brands fa-linkedin-in p-2 icon-hover"></i></a>
          <a href="https://github.com/prakash-200" class="icon-3 mx-1 rounded-5"><i class="fa-brands fa-github p-2 icon-hover"></i></a>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>